apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin #default dns name????
  labels:
    app: k8s_admin
    env: prod
    owner: DaniilZelenko
spec:  
  replicas: 2 
  selector:
    matchLabels:
      app: admin 
  template: 
    metadata:
     labels:
       app: admin
    spec:
     containers:
       - name : admin
         image: minelisovich/admin:latest
         ports:
         - containerPort: 6199  
         env:
         - name: ASPNETCORE_URLS
           value: http://*:6199
         resources:
          limits:
            cpu: 500m
          requests:
            cpu: 200m
---
apiVersion: v1
kind: Service
metadata:
  name: admin
spec:
  type: LoadBalancer
  ports:
  - port: 6199
  selector:
   app: admin
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: admin
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: admin
  minReplicas: 2
  maxReplicas: 10
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50